body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-color: #0E0E0E; 
    color: #FFFFFF; /* Informação geral em branco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 20px;    
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #FFFFFF;
}

nav {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #ffffff; 
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

nav a:hover {
    color: #36FF6E; /* Verde neon mais claro ao passar o mouse */
}

h1 {
    color: #36FF6E; /* Título em verde */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    color: #36FF6E; /* Títulos das colunas em verde */
    padding: 10px;
    border-bottom: 2px solid #36FF6E;
    text-align: left;
}

table td {
    color: #FFFFFF; /* Informações em branco */
    padding: 10px;
    border-bottom: 1px solid #444; /* Separador de linhas */
}

button {
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-sizing: border-box;
    font-size: medium;
}

button:hover {
    background-color: #36FF6E; 
}

.informacoes {
    color: #FFFFFF; 
}